#title {
    padding-right: 15px;
}

#info {
    padding: 5px 5px 5px 5px;
    background-color: rgb(247, 242, 242);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.banner {
    width: 100%;
    object-fit: cover;
    height: 50px;
}

.logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.flex-horiz {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.flex-vert {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    width: 100%;
}

.flex-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.description {
    font-style: italic;
}

.break {
    padding: 20px;
}

.footer {
    text-align: center;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: small;
    font-style: italic
}